<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Journal</title>
    <style>
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            padding: 10px;
        }
        .nav-buttons a {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <header th:replace="fragments/navbar :: navbar"></header>

    <h1>Journalizing</h1>
    <p>This page will contain functionality for journal entries. (To be implemented.)</p>
    <a th:href="@{/accounts}">Back to Accounts</a>
</body>
</html>
